body {
	background-color: lemonchiffon;
	color: deeppink;
}

img {
	display: block;
	border-radius: 50px;
      
}

h1 {
	text-align: center;
}

 ul {
      padding: 10px;
      background: rgba(255,20,147);
      font-weight: bold

    }